.wrapper-bookmark
  .container-bookmark
    .bookmark-with-nav
      padding: 100px 20px
      .bookmark-nav
        display: flex
        justify-content: space-around
        align-items: center
        .bookmark-title
          font-family: 'Spartan', sans-serif
          font-size: 18px
      .bookmark-content
        margin: 25px
        height: calc(100vh - 180px)
